/*p{color:teal;
}

body{
    background-color:#40e08d;
} */

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(255, 255, 255);

}

header,
img {
    width: 100%;
    height: 300px;
}

nav {
    width: 100%;
    background-color: #a4d4ff;
    text-align: center;
    padding: 10px;
    /* blue */
}

a {
    font-weight: bold;

    text-decoration: none;
}


.a-menu {
    font: 1rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    margin-right: 30px;
}


.a-menu:link,
.a-menu:visited {
    color: #008080;
}


.a-menu:hover {
    color: aqua;
    cursor: pointer;
}


article {
    width: 100%;
    background-color: #ffffff;
    /* aliceblue */
    padding: 20px;
    box-sizing: border-box;
}


#requisitos {
    background-color: #acb6c5;
    /* aliceblue */
    padding: 20px;
    box-sizing: border-box;
}


#requisitos h2 {

    font: 1.5rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    color: #008080;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


ul{
    list-style-type: circle;
    padding-top: 20px ;
    padding-bottom: 20px ;
}


li  {
    font: 0.8rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    margen-bottom: 10px ;

}



#midia {
    width: 100%;
    background-color: #ffffff;
    /* aliceblue */
    padding: 20px;
    box-sizing: border-box;
}


#midia h2 {

    font: 1.5rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    color: #008080;
    text-align: center;
    margin-bottom: 30px;
}


#trailer {
    width: 100%;
    background-color: #ffffff;
    /* aliceblue */
    padding: 20px;
    box-sizing: border-box;
}


#trailer h2 {

    font: 1.5rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    color: #008080;
    text-align: center;
    margin-bottom: 30px;
}


footer {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #a4d4ff;
    /* blue */
    text-align: center;
    padding-top: 5px;

}


h1 {

    font: 3rem 'Adamina', 'Arial', 'Helvetica', sans-serif;

    color: #008080;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}







h3 {

    font: 1.5rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    color: #008080;
    text-align: center;
    margin-bottom: 30px;
}



p {
    font: 1.2 rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    color: #000000;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 20px;
}


#quake {
    font-weight: bold; 

}


ul {
    font: 1.2 rem 'Adamina', 'Arial', 'Helvetica', sans-serif;
    color: #312f2f;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 20px;

}


#container{
    display: flex;

}


.img-maps {
    width: 50%;


}
